.jumbotron{
    background-color: rgb(156,49,57);
    color: whitesmoke; 
}

/* .list-group{
    border: 1px solid  rgb(156,49,57);
} */

.list-group-item{
    width: 100%
}

form{
    /* border: 1px solid  rgb(156,49,57); */
    margin-top: 20px;
}

.tableheader{
    font-weight: 800;
}